<h1>NLP: Aspect based sentiment analysis and sentiment analysis</h1> <br> 
<h3>Neecathon - Voe - 2022</h3> <br>

<form action="/appForNlp/nlp_result" method="get">
    
    <label for="results">Write a feedback about your company: </label>
    <input id="results" type="text" name="comentario" value="I liked very much...">
    <input id="ids" type="number" name="id_pessoa" value="0">
    <input type="submit" value="Enviar">
</form> 

<p>Next, there will be made an <strong>Aspect Based Sentiment Analysis</strong>, which gives a positive or negative value to different parts of the phrase</p>
<p>There will also be done a <strong>Sentiment analysis</strong> utilizing Machine Learning</p>